.example-form-field {
    width: 70%;
    background: black;
    color: white;
  }
  mat-grid-tile {
    background: transparent;
  }
  mat-label{
    font-size: 15px;
  }
  input{
    font-size: 20px;
  }
